// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    background-color: #181a1b;
    color: white;
}

a {
    text-decoration: none;
}

div .session {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    align-items: center; 
    background-color: #181a1b;
    margin: auto;
    width: 50%;
    padding-top: 150px;
    padding-bottom: 100px;
}

.greeting-n-demo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
    align-items: center; 
    text-align: center;
    width: 500px;
    background-color: #181a1b;
}

.session a {
    color: #1db954
}

.session-button {
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    // line-height: 20px;
    color: white;
    text-decoration: none;
    background-color: #18ac4d;
    width: 350px;
    text-align: center;
    padding: 13px 31px;
    border-radius: 24px;
    border: 2px solid #71695d;
    margin-top: 20px auto;
    // Padding is within the border, so use margin to space it out
}

#demo-button {
    background-color: #405a93;
}

.form-title, .divider {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 500px;
    color: #71695d;
    background-color: #181a1b;
}

.form-title p {
    color: white;
}

.divider p {
    color: #71695d;
    padding-left: 50px;
    padding-right: 50px;
}

.session-button:hover {
    border: 4px solid #d9dadc;
    padding: 11px 30px;
    transition: .2s;
}

.session h2 {
    font-size: 32px;
}

.session label {
    font-weight: 700;
}

.session-form {
    width: 450px;
    background-color: #181a1b;
}

.session-form input {
    font-size: 16px;
    width: 95%;
    height: 50px;
    background-color: #181a1b;
    margin-top: 8px;
    margin-bottom: 25px;
    padding: 2px 10px;
    border: 1px solid #71695d;
    color: white;
}

.session input::placeholder {
    color: #71695d;
}

.session .error-list {
    list-style-type: none;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: #181a1b;
}

#session-error-item {
    padding-top: 5px;
}

.error-list li {
    color: #ee3c4e;
}

.session #fine-print {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
    width: 100%;
    text-align: center;
    color: #d9dadc;
    background-color: #181a1b;
}


.session .line {
    border-bottom: 1px solid #71695d;
    width: 150px;
    padding: 5px;
    margin-bottom: 10px;
    // Need margin to have line appear centered
}

.session .divider {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.session .footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 450px;
    background-color: #181a1b;
}

.session .footer-link {
    padding-top: 15px;
    background-color: #181a1b;
}

