html {
    color: white;
}

.splash-page a {
    color: white;
}

.splash-page a:hover {
    color: #1db954;
    transition: .2s;;
}

div .splash-page {
    margin: auto;
    text-align: center;
    place-items: center;
    width: 100%;
    height: 100vh;
    // background-color: #1ed75f;
    background-image: url(https://www-growth.scdn.co/static/home/bursts-tablet.svg);
    background-size: cover;
    background-position: right 48% center;
    background-color: #2d46b9;
}

.splash-display {
    font-size: 60pt;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 125px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    margin-top: 125px;
    background-color: transparent;
    color: #1ed75f;
}

.splash-msg {
    // background-color: #2d46b9;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    line-height: 100px;
}

.splash-msg h1 {
    text-align: center;
    padding-bottom: 47px;
    font-size: 65pt;
    text-shadow: 4px 4px #2d46b9;
}

.splash-msg h3 {
    font-size: 18pt;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
}

.splash-msg a {
    font-size: 25pt;
}