.splash a {
    color: #1db954
}

div .splash {
    padding: 1px;
    border: 1px solid red;

}

.splash-display {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 150px 150px;
    color: orchid;
    border: 1px solid orchid;
}