// .site-logo

div .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-betweem;
    align-items: center;
    background-color: black;
    border: 1px solid skyblue;
}