.nav-container-splash a {
    color: white;
}

.nav-container-splash a:hover {
    color: #1db954;
    transition: .2s;
}

.site-logo-splash {
    color: white;
    display: flex;
    align-items: center;
    font-size: 45px;
    width: 120px;
    height: 80px;
    position: absolute;
    left: 0px;
    padding-left: 60px;
    padding-right: 130px;
    background-color: black;
}

.site-logo-splash h2 {
    font-family: 'Trebuchet MS', 'impact';
    color: white;
    vertical-align: center;
    font-size: 21px;
    padding-left: 5px;
    font-family: 'Trebuchet MS', 'impact';
    color: white;
    vertical-align: center;
    padding-left: 5px;
}

.site-logo-main {
    color: white;
    display: flex;
    align-items: center;
    font-size: 49px;
    width: calc(285px - 25px - 130px);
    height: 66px;
    position: absolute;
    left: 0px;
    padding-left: 25px;
    padding-right: 130px;
    padding-top: 10px;
    background-color: black;
}

.site-logo-main h2 {
    font-family: 'Trebuchet MS', 'impact';
    color: white;
    vertical-align: center;
    padding-left: 5px;
    font-family: 'Trebuchet MS', 'impact';
    color: white;
    vertical-align: center;
    font-size: 23px;
    padding-left: 5px;
}

#logo {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    background: transparent;
}

.nav-container-splash {
    font-weight: 700;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0px;
    margin-left: 270px;
    padding-right: 75px;
    height: 80px;
    background-color: black;
    align-items: center;
}

.nav-container-main {
    font-weight: 700;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 0px;
    height: 66px;
    width: 100vw;
    background-color: transparent;
    align-items: center;
}

.nav-links {
    display: flex;
    place-items: center;
    // justify-content: space-evenly;
    align-items: center;
    width: 200px;
    background-color: purple;
}

.my-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    width: 340px;
}

.logged-out-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
}

.nav-container-splash .line {
    border: 1px solid white;
    height: 15px;
    margin-left: 55px;
    margin-right: 95px;
}

#splash-logged-out {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

#avatar-pic-nav-splash {
    top: 16px;
    right: 55px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    height: 32px;
    padding: 0 20px 0px 20px;
    font-size: 15px;
    flex-direction: row;
    justify-content: center;
}

#avatar-pic-nav-main {
    position: absolute;
    top: 16px;
    right: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    display: flex;
    width: auto;
    height: 32px;
    padding: 0px 16px 0px 20px;
    font-size: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#avatar-pic-nav-splash:hover, #avatar-pic-nav-main:hover {
    background-color:  #282828;
    transition: .2s;;
}

#arrow-display {
    padding-left: 12px;
    padding-top: 5px;
}

.menu-item-splash {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    z-index: 1;
    width: 100px;
    height: auto;
    padding: 7px;
    background-color: #282828;
    position: absolute;
    right: 75px;
    top: 67px;
    color: white;
    border-radius: 4px;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    z-index: 2;
    width: 107px;
    height: auto;
    padding: 3px;
    background-color: #282828;
    position: absolute;
    color: white;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
}

.menu-main {
    right: 25px;
    top: 57px;
    z-index: 3;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0,0,0,.3), 0 6px 8px rgba(0,0,0,.2);
}

.menu-main a, .menu-item-splash a  {
    cursor: pointer;
    color: white;
    padding: 10px 0px 10px 0px;
}

.menu-main a:hover, .menu-item-splash a:hover  {
    cursor: pointer;
    color: #1db954;
    transition: .2s;;
}

.search-container {
    width: 400px;
    background-color: skyblue;
}

.main-grid-container .nav-container-splash {
    background-color: transparent;
}