.playlist-index::-webkit-scrollbar {
    width: 5px; /*Gives width for the scrollbar*/
}

.playlist-index::-webkit-scrollbar-thumb {
    background-color: #959595;
    border-radius: 15px;
}

.sidebar-container {
    color: #71695d;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    width: 285px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

nav.sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    background-color: black;
}

.sidebar .icon {
    padding-top: 5px;
    width: 50px;
    font-size: 25px;
    // padding-right: 10px;
}
div.icon {
    width: 50px;
    font-size: 25px;
    // background-color: violet;
    text-align: center;
}

.sidebar .text:hover{
    color: white;
    transition: .2s;;
}

.sidebar-container .line {
    border-top: 1px solid #71695d;
    margin-top: 20px;
    padding-bottom: 6px;
    width: 195px;
    height: 11px;
}

// sidebar nav buttons
button.sidebar-nav:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #b3b3b3;
    height: 100%;
    width: 100%;
    margin-top: 12px;
    border: none;
    padding: 15px 10px 5px 10px;
    background-color: black;
}

button.sidebar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #b3b3b3;
    height: 100%;
    width: 100%;
    border: none;
    padding: 0px 10px 5px 10px;
    background-color: black;
}

.sidebar-nav .text-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: bold;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// button children of sidebar nav (playlists)
button.sidebar {
    display: block;
    text-align: left;
    color: #b3b3b3;
    height: 16px;
    width: 100%;
    border: none;
    display: block;
    text-align: left;
    color: #b3b3b3;
    height: 16px;
    width: 100%;
    background-color: black;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px 25px 5px 25px;
}

.playlist-index {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* text-align: left; */
    color: #b3b3b3;
    height: 510px;
    width: 100%;
    border: 1px solid black;
    overflow-y: auto;
}

.sidebar .text-playlist {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    color: #959595;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-container a {
    color: #959595;
}

.sidebar .text-playlist:hover,
button.sidebar-nav .icon:hover,
button.sidebar-nav .text-button:hover,
.playlist-index::-webkit-scrollbar-thumb:hover
{
    color: white;
    transition: .2s;;
}
