div .home-container {
    background-color: #181a1b;
    height: 100vh;
    width: 100%;
    background-image: url(https://wallpapercave.com/wp/wp4575286.jpg);
    background-size: 100%;
    background-position: right 40% center;
}