.main-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-image: url("https://versify-dev.s3.amazonaws.com/images/ui/universe-background.jpeg");
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

.current-container {
    background-color: transparent;
    width: calc(100% - 285px);
    height: calc(100% - 85px);
    position: absolute;
    top: 85px;
    left: 285px;
    overflow-y: hidden;
    overflow-x: hidden;
}
