.main-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp4575286.jpg);
    background-size: cover;
    overflow-y: hidden;
}

.current-container {
    background-color: rgba(0, 0, 0, 0.6); 
    // writing as rgba will prevent opacity from passing down to children
    width: calc(100% - 270px);
    height: calc(100% - 85px);
    position: absolute;
    top: 85px;
    left: 270px;
}
