.home {
    background-color: rgba(0, 0, 0, 0.6);
    height: 97%;
    width: 97%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    padding: 30px;
    flex-direction: column;
    border: thick solid red;
}

.home-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 50px;
}
