.playlist-index-empty {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: calc(285px - 30px);
    border-top: 1px solid #71695d;
    display: flex;
    flex-direction: row;
    color: #b3b3b3;
    height: 100%;
    border: none;
    justify-content: center;
    margin-top: 22px;
}

.playlist-index .sidebar-button {
    align-items: center;
    color: #b3b3b3;
    height: 100%;
    width: 100%;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #121212;
}