.playlist-show {
    background: transparent;
    width: 100%;
    height: calc(100vh - 85px);
    overflow-y: scroll;
    overflow-x: hidden;
}


// PlaylistHeader
.playlist-header {
    background: #211a36ed;
    display: flex;
    width: calc(100% - 30px - 30px);
    height: calc(260px - 30px - 30px);
    padding: 30px 30px 30px 30px;
    font-family: Trebuchet MS;
    color: white;
    align-items: center;
}

.playlist-header-text {
    width: calc(100% - 225px - 30px);
    height: 225px;
    place-items: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-height: 225px;
}

.playlist-header #title {
    font-family: Trebuchet MS, Gill sans, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 55pt;
    padding: 0px;
    margin: 25px 0px 25px 0px;
    max-height: 105pt;
}

.playlist-header h2 {
    display: flex;
    flex-direction: column;
    font-family: Gill sans, Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.playlist-header h3 {
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.818);
    margin: 5px 0px 5px 0px;
    max-height: 50px;
    word-break: break-word;
}

.playlist-art {
    background: white;
    width: 225px;
    height: 225px;
    margin-right: 30px;
}


// PlaylistNav
.playlist-nav, .album-nav {
    display: flex;
    background: #23201be6;
    width: calc(100% - 30px);
    height: 118px;
    align-items: center;
    padding: 0px 0px 0px 30px;
    gap: 25px;
}

#playlist-play-button {
    display: flex;
    background: #34d760;
    height: 56px;
    width: 56px;
    border-radius: 500px;
    align-items: center;
    justify-content: center;
}

#playlist-play-button svg {
    margin-left: 4px;
    font-size: 17pt;
}

#playlist-dropdown-dots {
    font-size: 30px;
    color: rgba(247, 245, 242, 0.5);
}

.playlist-dropdown {
    left: 143px;
    top: 280px;
    align-items: flex-start;
}

.playlist-dropdown-button {
    width: 100%;
    font-size: 10.5pt;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    color: white;
    padding: 11px 11px 11px 11px;
    background: transparent;
    border: none;
    text-align: left;
}

button.playlist-dropdown-button:hover {
    background: #3e3e3e;
    transition: .2s;
}


// PlaylistSongIndex
.song-index {
    padding: 24px;
    min-height: calc(100vh - (85px + 260px + 48px + 118px));
}

.playlist {
    background-color: #1a0135de;
}