.modal-background {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.modal-focus {
    background: #272727;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 2;
    width: 475px;
    height: 385px;
    padding: 25px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Trebuchet MS;
    color: white;
    margin-bottom: 25px;
}

.modal-body {
    height: 300px;
    width: 100%;
}