.modal-background {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100vw;
    height: 100vh;
}

.modal-focus {
    background: #272727;
    position: fixed;
    top: calc(50% - 192px); // vertical midpoint minus half of the div height
    left: calc(50% - 238px); // horizontal midpoint minus half of the div width
    z-index: 3;
    width: 475px;
    height: 385px;
    padding: 25px;
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Trebuchet MS;
    color: white;
    margin-bottom: 25px;
}

.modal-body {
    height: 300px;
    width: 100%;
}