.playlist-art-edit {
    background: white;
    width: 180px;
    height: 180px;
    margin-right: 10px;
}

.edit-playlist-form {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Trebuchet MS;
    color: white;
}

.edit-content input, .edit-content textarea {
    background: #3e3e3e;
    border: 1px solid transparent;
    border-radius: 4px;
    resize: none;
    color: white;
    font-family: inherit;
    font-size: 13px;
    height: 40px;
    margin: 0px 5px 15px 5px;
    padding: 0 12px;
    width: calc(475px - 180px - 24px - 22px);
}

.edit-content textarea {
    padding: 12px 12px;
    height: calc(180px - 82px);
    margin-bottom: 0px;
}

.save-button {
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    width: 100px;
    text-align: center;
    padding: 13px 31px;
    border-radius: 24px;
    border: 0px;
    margin-top: 5px;
    display: inline-block;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color: black;
    text-decoration: none;
    background-color: #ffffff;
    width: 100px;
    text-align: center;
    padding: 13px 31px;
    border-radius: 24px;
    border: 0px;
    margin-top: 5px;
    margin-left: calc(100% - 100px - 5.5px); // Div width minus width of the button minus half of the left padding
    // Padding is within the border, so need to use margin to space it out
}

.edit-footer {
    font-family: Trebuchet MS;
    font-size: 11px;
    margin-top: 15px;
}