.artist-index-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(205px, 205px));
    grid-auto-rows: minmax(300px, 300px);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    justify-content: space-between;
}

.artist-index-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 25px;
}

.card {
    background-color: #181818;
    padding: 17px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover{
    background-color: #292929;
    cursor: pointer;
    transition: 0.3s;
}

.card img {
    height: 184px;
    width: 184px;
    margin-bottom: 20px;
    border-radius: 50%;
    align-self: center;
}

.card-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.card-subtitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-top: 15px;
    text-align: left;
}