.artist-show {
    position: relative;
    z-index: 1;
    background: #0000008a;
    width: 100%;
    height: calc(100vh - 76px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: none;
}

.artist-header {
    background: transparent;
    display: flex;
    width: calc(100% - 30px - 30px);
    height: calc(260px - 30px - 30px);
    padding: 30px 30px 30px 30px;
    font-family: Trebuchet MS;
    color: white;
    align-items: center;
}

.artist-header-text {
    width: calc(100% - 225px - 30px);
    height: 225px;
    place-items: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-height: 225px;
}

.artist-header #title {
    font-family: Trebuchet MS, Gill sans, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 55pt;
    padding: 0px;
    margin: 15px 0px 35px 0px;
    max-height: 105pt;
}

.artist-nav {
    display: flex;
    background: #1a1816e6;
    width: calc(100% - 30px);
    height: 118px;
    align-items: center;
    padding: 0px 0px 0px 30px;
    gap: 25px;
}

.album-index {
    background: black;
    padding: 15px;
}

.album-index-grid {
    display: grid;
    background: #121212e0;
    width: 100%;
    height: calc(100% - 118px - 260px);
    color: white;
    grid-template-columns: repeat(4, 216px);
    grid-auto-rows: minmax(294px, 294px);
    grid-gap: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.album-card img {
    border-radius: 8px;
    text-align: center;
}

.album-index-header h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 15px;
}

a.artist-link{
    color: white;
}

a.artist-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card-subtitle a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card-subtitle .artist-name {
    display: inline;
}