// AlbumShow
.album-show {
    background: transparent;
    width: 100%;
    height: calc(100vh - 85px);
    overflow-y: scroll;
    overflow-x: hidden;
}

// AlbumHeader
.album-header {
    background: #01182be0;
    display: flex;
    width: calc(100% - 30px - 30px);
    height: calc(260px - 30px - 30px);
    padding: 30px 30px 30px 30px;
    font-family: Trebuchet MS;
    color: white;
    align-items: center;
}

.album-header-text {
    width: calc(100% - 225px - 30px);
    height: 225px;
    place-items: end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-height: 225px;
    font-size: 14px
}

.album-title {
    font-family: Trebuchet MS, Gill sans, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 55pt;
    padding: 0px;
    margin: 25px 0px 25px 0px;
    max-height: 105pt;
}

.album-art img {
    width: 225px;
    height: 225px;
    margin-right: 30px;
}

.album-description a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: Trebuchet MS, Gill sans, Helvetica, sans-serif;
}

.album-description a:hover {
    text-decoration: underline;
    cursor: pointer;
}   


// AlbumNav sources PlaylistNav styles

