.song-card-dropdown {
    align-items: flex-start;
    font-size: 15px;
    z-index: 2;
    width: 150px;
    height: auto;
    padding: 3px;
    background-color: #282828;
    position: fixed;
    color: white;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3), 0 6px 8px rgba(0, 0, 0, 0.2);
// for testing purposes only
    // left: 300px;
    // top: 300px;
}

button.song-card-dropdown-item { // copy of .playlist-dropdown-button
    width: 100%;
    font-size: 10.5pt;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    cursor: pointer;
    color: white;
    padding: 11px 11px 11px 11px;
    background: transparent;
    border: none;
    text-align: left;
}

button.song-card-dropdown-item:hover {
    background: #3e3e3e;
    transition: .2s;
    cursor: pointer;
}

.dropdown-submenu {
    display: none;
    // // top: 500px; // for testing purposes only
    // // left: 100px;
}



.show {
    display: block;
}